<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" role="menu">
    <li class="nav-item"><a href="/bursary/dashboard" class="nav-link <%= currentPath === '/bursary/dashboard' ? 'active' : '' %>"><i class="nav-icon fas fa-tachometer-alt"></i><p>Dashboard</p></a></li>

        <li class="nav-item"><a href="/staff/attendance/mark" class="nav-link"><i class="nav-icon fas fa-plus"></i><p>Mark Attendance</p></a></li>
        <li class="nav-item"><a href="/staff/attendance/report" class="nav-link"><i class="nav-icon fas fa-money-bill-wave"></i><p>View Export Report</p></a></li>
        <li class="nav-item"><a href="/staff/attendance/watchlist" class="nav-link"><i class="nav-icon fas fa-search-dollar"></i><p>Watch-list Staff</p></a></li>

    <li class="nav-item"><a href="/staff/bursary/verify-applicant" class="nav-link"><i class="nav-icon fas fa-search-dollar"></i><p>Verify Applicant Payment</p></a></li>
    <li class="nav-item"><a href="/staff/bursary/verify-student" class="nav-link"><i class="nav-icon fas fa-search-dollar"></i><p>Verify Student Payment</p></a></li>
    <li class="nav-item"><a href="/staff/fees/payments" class="nav-link"><i class="nav-icon fas fa-money-bill-wave"></i><p>All / General Payment</p></a></li>
    <li class="nav-item"><a href="/staff/fees/payment-types" class="nav-link"><i class="nav-icon fas fa-layer-group"></i><p>Payment Types</p></a></li>
    <li class="nav-item"><a href="/staff/fees/payment-types/add" class="nav-link"><i class="nav-icon fas fa-plus"></i><p>Add Payment Type</p></a></li>
    <li class="nav-item"><a href="/staff/password/staff" class="nav-link"><i class="nav-icon fas fa-key"></i><p>Manage Staff Password</p></a></li>
    <li class="nav-item"><a href="/staff/bursary/complaints" class="nav-link"><i class="nav-icon fas fa-comments"></i><p>Payment Complaints</p></a></li>
  </ul>
</nav>
