<%- include('./lecturer', { user, currentPath }) %>
<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" role="menu">
    <li class="nav-item"><a href="/staff/courses/assign" class="nav-link"><i class="nav-icon fas fa-tasks"></i><p>Assign Course</p></a></li>
    <li class="nav-item"><a href="/staff/results/approve" class="nav-link"><i class="nav-icon fas fa-check-circle"></i><p>Approve Result</p></a></li>
  </ul>
  <li class="nav-item"><a href="/staff/uniform/report" class="nav-link">
    <i class="nav-icon fas fa-check-circle"></i><p>Uniform Report</p>
  </a></li>

</nav>
