<%- include('./registry', { user, currentPath }) %>
<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" role="menu">
    <li class="nav-item"><a href="/staff/password/student" class="nav-link"><i class="nav-icon fas fa-key"></i><p>Reset Student Password</p></a></li>
    <li class="nav-item"><a href="/staff/password/staff" class="nav-link"><i class="nav-icon fas fa-key"></i><p>Reset Staff Password</p></a></li>
  </ul>
</nav>
