<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" role="menu">
    <li class="nav-item"><a href="/student/dashboard" class="nav-link"><i class="nav-icon fas fa-tachometer-alt"></i><p>Dashboard</p></a></li>
    <li class="nav-item"><a href="/student/registration" class="nav-link"><i class="nav-icon fas fa-clipboard-list"></i><p>Course Registration</p></a></li>
    <li class="nav-item"><a href="/student/fees/school" class="nav-link"><i class="nav-icon fas fa-money-check-alt"></i><p>School Fees</p></a></li>
  </ul>
</nav>
