<div class="row">
  <div class="col-md-8">
    <div class="card card-danger">
      <div class="card-header">
        <h3 class="card-title">ACCESS DENIED</h3>
      </div>
      <div class="card-body">
        <p><%= message || 'ACCESS DENIED: YOU DO NOT HAVE PERMISSION TO ACCESS THE REQUESTED PAGE' %></p>
        <a href="/" class="btn btn-primary">Return to Portal Homepage</a>
      </div>
    </div>
  </div>
</div>
